#logo_universidad{
    margin-top: 30px;
    margin-bottom: 10px;
    width:100%;
    max-width:200px;
}
@media screen and (max-width: 991px) {
    .hideifsmall {
        display: none;
    }
}
/* .form-select{
    width: 70%;
} */
#filtrador{
    width: 100%;
    max-width: 500vw;
}
#separacion{
    width: 100%;
}
.card{
    margin: auto;
    margin-bottom: 10px;
    float: none;
}
.card:hover{
    background-color: #5dc7ec;
}