#logo_universidad{
    margin-top: 30px;
    margin-bottom: 10px;
    width:100%;
    max-width:200px;
}
#logo_entidad{
    margin-top: 20px;
    margin-bottom: 0px;
    width:100%;
    max-width:190px;
    border-radius: 20px;
}
#comunicado{
    width: 70%;
}
@media screen and (max-width: 991px) {
    .hideifsmall {
        display: none;
    }
}
#sinDecoracion{
    text-decoration: none;
}
#filtrador{
    width: 100%;
    max-width: 500vw;
}
#separacion{
    width: 100%;
}
.card{
    margin: auto;
    margin-bottom: 10px;
    float: none;
}
.card:hover{
    transition-duration: 500ms;
    background-color: #5dc7ec;
}