#logo_universidad{
    margin-top: 30px;
    margin-bottom: 10px;
    width:100%;
    max-width:200px;
}
@media screen and (max-width: 991px) {
    .hideifsmall {
        display: none;
    }
}
/* .form-select{
    width: 70%;
} */
#filtrador{
    width: 100%;
    max-width: 500vw;
}
#tarjetas{
    margin-left: 100px;
}
.card:hover{
    background-color: #000000;
}