{% extends "webComunicados/base.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 text-center">
                <a href="https://usm.cl" target="_blank">
                    <img id="logo_universidad" src="{% static 'webComunicados/img/logo_universidad.png' %}" alt="Logo Universidad">
                </a>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <br><br>
                </div>
                <div class="row hideifsmall">
                    <h1>Sistema Integrado de Notificaciones</h1>
                </div>
                <div class="row">
                    <hr>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
                        <a class="nav-link" href="{% url 'admin:index' %}">Administracion</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<br>

<div id="filtrador" class="container-fluid">
    <form class="row" method="post">
        {% csrf_token %}
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <select class="form-select mb-2" name="formDepto" aria-label="Default select">
                <option selected>{{ departamento }}</option>
                {% if departamento != "Todos los departamentos" %}
                <option value="Todos los departamentos">Todos los departamentos</option>
                {% endif %}
                {% for entidad in Entidades %}
                {% if departamento != entidad.nombre %}
                <option value="{{entidad.nombre}}">{{entidad.nombre}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary col">Filtrar</button>
        </div>
    </form>
</div>
<br>

<!-- Tarjetas de comunicados -->
<div id="separacion" class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
        {% for Comunicado in Comunicados %}
        {% if Comunicado.visible %}
        {% if Comunicado.entidad.nombre == departamento or departamento == "Todos los departamentos"%}
        <div class="col mx-auto">
            <div class="card h-100" style="width: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ Comunicado.titulo }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ Comunicado.entidad }}</h6>
                    <p class="card-text">{{ Comunicado.detalle_corto }}</p>
                    <small class="text-body-secondary">{{ Comunicado.fecha_publicacion }}</small>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}